.*
!.gitignore
__pycache__
login
build
*.bat
*.spec
*.log
owned_ponies
avail_poll
no_train
only_train
beauty_ponies
studs
listing_exclude
fully_trained
train_define
listings/*.txt
descriptions/*.txt
dist/listings/*.txt
dist/descriptions/*.txt
!dist/descriptions/default.txt
!descriptions/default.txt