.*
!.gitignore
__pycache__
login
build
*.bat
*.spec
*.log
owned_ponies
avail_poll
no_train
only_train
beauty_ponies
studs
dist/owned_ponies
dist/avail_poll
dist/no_train
dist/only_train
dist/beauty_ponies
dist/studs
dist/listings/*.txt
dist/descriptions/*.txt
!dist/descriptions/default.txt
listings/*.txt
descriptions/*.txt
!descriptions/default.txt

